@import '../variables.css';

.Tea{
  display: inline-block;
  vertical-align: top;
  width: 350px;
  position: relative;
  overflow: hidden;
  margin: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #272727;
  border-radius: 2px;
}

.Tea-Header{
  line-height: 48px;
  font-size: 24px;
  font-weight: 300;
}

.Tea-Content{
  padding: 20px;
  font-weight: 300;
  border-radius: 0 0 2px 2px;
}

.Tea-Link {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
}

.Tea-Link,
.Tea-Link:active,
.Tea-Link:visited {
  color: #272727;
}

.Tea-Link:hover {
  color: #272727;
}

.Tea-Link--highlight {
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 3px;
  background: #272727;
  color: #fff;
}

.Tea-Link--highlight:hover {
  background: #272727;
}

